environment    = "prod"
aws_region     = "us-east-1"
cluster_name   = "eks-learn-prod"
vpc_cidr       = "10.20.0.0/16"
kubernetes_version = "1.31"

endpoint_public_access_cidrs = []

tags = {
  Owner = "your-name"
}
